.halo-rich-text-editor {
  box-sizing: border-box;
  height: calc(100% - 48px);
  width: 100%;

  .editor-header {
    height: 48px;
  }

  .editor-content {
    height: 100%;
    width: 100%;

    .ProseMirror {
      height: 100%;
      overflow: auto;

      p.is-empty::before {
        content: attr(data-placeholder);
        float: left;
        color: #adb5bd;
        pointer-events: none;
        height: 0;
      }

      outline: none !important;
      padding: 15px;

      pre {
        background: #0d0d0d;
        padding: 0.75rem 1rem;
        margin: 0;

        code {
          background: none;
          font-size: 0.8rem;
          padding: 0 !important;
          border-radius: 0;
        }
      }

      ul[data-type="taskList"] {
        list-style: none;
        padding: 0;

        p {
          margin: 0;
        }

        li {
          display: flex;

          > label {
            flex: 0 0 auto;
            margin-right: 0.5rem;
            user-select: none;
          }

          > div {
            flex: 1 1 auto;
          }
        }
      }

      ul {
        @apply list-disc;
      }

      code br {
        display: block;
      }

      table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
        margin: 0;
        overflow: hidden;

        .selectedCell:after {
          z-index: 2;
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgba(200, 200, 255, 0.4);
          pointer-events: none;
        }

        th,
        td {
          min-width: 1em;
          border: 2px solid #ced4da;
          padding: 3px 5px;
          vertical-align: top;
          box-sizing: border-box;
          position: relative;
          @apply border;

          > * {
            margin-top: 0;
            margin-bottom: 0;
          }
        }

        .column-resize-handle {
          position: absolute;
          right: -2px;
          top: 0;
          bottom: -2px;
          width: 4px;
          background-color: #adf;
          pointer-events: none;
          cursor: col-resize !important;
        }
      }

      .columns {
        .column {
          border: 1px solid #e7e9e8;
          border-radius: 6px;
          position: relative;

          p {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.v-popper--theme-editor-block-dropdown {
  .v-popper__inner {
    @apply bg-white drop-shadow-md rounded-md;
  }

  .v-popper__arrow-container {
    display: none;
  }
}
