.halo-rich-text-editor {
  box-sizing: border-box;
  height: calc(100% - 48px);
  width: 100%;

  .editor-header {
    height: 48px;
  }

  .editor-content {
    height: 100%;
    width: 100%;

    .ProseMirror {
      height: 100%;
      overflow: auto;

      p.is-empty::before {
        content: attr(data-placeholder);
        float: left;
        color: #adb5bd;
        pointer-events: none;
        height: 0;
      }

      outline: none !important;
      padding: 15px;

      pre {
        padding: 0.75rem 1rem;
        margin: 0;

        code {
          color: inherit;
          background: none;
          font-size: 0.8rem;
        }
      }

      ul[data-type="taskList"] {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          align-items: center;

          > label {
            flex: 0 0 auto;
            margin-right: 0.5rem;
          }
        }
      }

      ul {
        @apply list-disc;
      }

      code br {
        display: block;
      }
    }
  }
}
